$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$medium-dark-blue: hsl(216,19%,15%);
$very-dark-blue: hsl(216, 12%, 8%);
$min-weight: 400;
$max-weight: 700;